.contact-area {
  margin-top: 9rem;
}


.contact-area .text-area-about{
    display: flex;
  align-items: center;
    flex-direction: column;
}
.contact-area .text-area-about> span{
        font: normal 800 3.5rem/7rem 'Varela Round', sans-serif;
        background: linear-gradient(90deg, #4458dc 0%, #845fee 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-transform: uppercase;
}

 .contact-area  .about-img{
    margin-left: -4rem;
 }

 /* Media Query for Mobiles */

@media (max-width: 768px){
  .contact-area  .about-img{
    margin-left: 0rem;
  }
}