/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


.projects-area{
    margin-top: 8rem;
    font-family: 'Varela Round', sans-serif;
}

.projects-area .text-area h1{
    text-align: center;
}

.projects-area .projects{
    margin-top: 3rem;
}

/* Media Query For Mobiles */

@media (max-width: 768px){
    .projects-area .text-area h1{
        font-size: 2.5rem;
    }
}

