/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.project-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    font-family: 'Varela Round', sans-serif;
}

.project-area .project-title a{
    text-decoration: none;
}

.project-area .project-para{
    color: #777777;
}

/* Media Query For Mobiles */

@media (max-width: 768px){
    .project-area{
        margin-left: 2rem;
    }
    .project-area .project-para{
        padding-left: 1rem;
    }
}