/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.text-area{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
}

/* Media Query For Mobile Devices */

@media (max-width: 400px){
    .text-area {
        text-align: center;
    }
}